/* ASPECTO DE TITULO */
header{
    padding: 50px;
    background-color: bisque;
    text-align: center;
}

/* ASPECTO NAVEGACION */
nav{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}

/* ASPECTO LETRAS */
nav a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}

/* ASPECTO DE PARRAFO */
p{
    color: black;
    padding: 14px 0px;
}

/* ASPECTO DE TITULO TABLA */
table th{
color: blueviolet;
padding: 14px 20px;

}
/* ASPECTO DE DATOS EN TABLA */
table td{
    border-bottom: 1px solid #ddd;
    text-align: center;
}

