header{
    padding: 50px;
    background-color: bisque;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}

nav a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}
/* IMAGEN LOCALIZACIÓN */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
p{
    color: black;
    padding: 14px 0px;
}